
<h1>Hello, world!</h1>

<div id="content">...</div>
<div id="react">...</div>

@section Scripts {
    <script src="@Url.Content("~/scripts/tutorial.jsx")"></script>
    <script src="@Url.Content("~/ts/hello.js")"></script>
}